main {
  display: flex;
  justify-content: center;
  gap: 20px;

  .tasks,
  .add-task {
    border: 1px solid rgba(128, 128, 128, 0.296);
    padding: 20px;
  }

  .add-task {
    form {
      max-width: 400px;
      margin: auto;
      padding: 10px;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        list-style: none;
        margin: 20px 0;
        input {
          padding: 10px;
          border-radius: 5px;
        }
        span {
          display: none;
        }
        label {
          margin-right: 10px;
          font-weight: bold;
          font-size: large;
          letter-spacing: 1.2px;
        }
      }
      .button {
        width: 80%;
        display: flex;
        justify-content: center;
        input {
          border: none;
          background-color: white;
          width: inherit;
          font-size: 1rem;
          font-weight: bolder;
        }
      }
    }
  }
}
